{% load static %}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<script src="https://kit.fontawesome.com/4a631b26fd.js" crossorigin="anonymous"></script>
<form method="GET">
    {% csrf_token %}
<h1><code>::WikiSearch</code></h1>

<p>Voici la syntaxe de requête disponible :</p>
<ul>
    <li>SET DATASET - Pour changer de dataset</li>
    <li>TITLE &lt;recherche&gt; - Pour rechercher un article avec le titre donné</li>
    <li>CATEGORY &lt;recherche&gt; - Pour chercher un article par catégorie</li>
    <li>CONTAINS &lt;recherche&gt; - Tout ce qui a le terme demandé</li>
    <li>COUNT - Comptes les résultats de la requête</li>
</ul>

<p>Plusieurs dataset sont disponible :</p>
<ul>
    <li>01 - dataset tronqué à 10%</li>
    <li>02 - dataset tronqué à 20%</li>
    <li>03 - dataset tronqué à 30%</li>
    <li>005 - dataset tronqué à 5%</li>
    <li>001 - dataset tronqué à 1%</li>
</ul>

<blockquote>
  <p>Entrer votre requête ici:</p>
  <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" name="request" class="input-search" placeholder="Type to Search...">
    
  </div>
</blockquote>

</form>
{% if table.rows|length > 0  %}
{% block content %}
    <h2>Résultats de la recherche</h2>

    <table>
        <thead>
            <tr>
                {% for column in table.field_names %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% endif %}
